<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<button class="btn btn-info me-1 edit-btn" data-id="' + value.id + '">Edit</button>
<body>
       


        <script>
                    // Bat su kien sau khi ajax goi
        $('body').on('click', '.edit-btn', function() {
            //lay id
            let id = $(this).data('id');
            // Goi ajax
            let option = {
                url: "http://127.0.0.1:8000/api/customer/show/" + id,
                method: "GET",
                dataType: "json",
                data: {
                    id: id
                },
                success: function(response) {
                    console.log(response);
                    $("#up_first_name").val(response.first_name);
                    $("#up_last_name").val(response.last_name);
                    $("#id").val(response.id);
                },
            }
            // Dua vao cac o input trong form
            $.ajax(option);
            // Goi modal
            $('#editModal').modal('show');
        });

        $('#btnok').on('click', function() {
            // validate form
            let id = $("#id").val();
            let first_name = $('#up_first_name').val();
            let last_name = $('#up_last_name').val();
            if (!first_name) {
                $('#upfirst_name_error').html('truong bat buoc');
            }
            if (!last_name) {
                $('#uplast_name_error').html(' aatruong bat buoc');
                // alert('edit: ')
            } else {
                // alert('edit: ' + id)
                let option = {
                    url: "http://127.0.0.1:8000/api/customer/update/" + id,
                    method: "PUT",
                    dataType: "json",
                    data: {
                        first_name: first_name,
                        last_name: last_name,
                    },
                    success: function(response) {
                        // console.log(response);
                        $('#editModal').modal('hide');
                        getList();
                        // $("#id").val(0);
                        Swal.fire(
                        'Good job!',
                        'Cập nhật thành công!',
                        'success'
                    )
                    }
                }
                $.ajax(option)
            }
        })



        </script>
</body>
</html>

